.navigation {
  background-color: var(--background-navigation-color);
}

.navigation__container {
  padding-top: 60px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 60px;
  color: var(--primary-letter-color);
}

.logo > svg {
  border: 1px solid var(--primary-letter-color);
  border-radius: 50%;
  padding: 5px;
}

.navigation__container > nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 115px;
}